//! **************************************************************************
// Written by: Map O.61xd on Wed Dec 09 16:07:04 2015
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

