NET "Clk" LOC = "C9";
NET "Rst" LOC = "K17" | PULLDOWN;

NET "LCD_E" LOC = "M18";
NET "LCD_RS" LOC = "L18";
NET "LCD_RW" LOC = "L17";

NET "LCD_Data<0>" LOC = "R15";
NET "LCD_Data<1>" LOC = "R16";
NET "LCD_Data<2>" LOC = "P17";
NET "LCD_Data<3>" LOC = "M15";